*{
    margin: 0;
    overflow: hidden;
}

body {
    text-align: center;
    font-family: 'VT323', monospace;
  
  }

  
body button {
    font-family: 'VT323', monospace;
    font-size: 30px;
    background-color: #f6c435;
    color: #000;
    padding: 9px 72px;
    margin-top: 554px;
    margin-left: 130px;
    /* border: 30; */

    box-shadow: 10;
    
    position: absolute;
  }

  

.inicio {
  background-image: url(../img/inicio.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  
}